extends ../pug/layout.pug

append config
  -
    currentTitle = 'Главная'
    currentDescription = 'Pink app'
    currentUrl = 'index.html'

block header

block content

  section.person#home
    h1.person__heading Web Developer

    +picture({
      'img': 'person',
      'alt': 'John Smith',
      'lg': false,
      'md': false,
      'ext': 'jpg'
    }, 'person__img')

    h2.person__name John Smith
    +btn('Projects').person__btn(href='#projects')
  ///.person

  nav.navbar
    a.navbar__link(href='#home') Home
    a.navbar__link(href='#about') About
    a.navbar__link(href='#portfolio') Portfolio
    a.navbar__link(href='#contact') Contact
  ///.navbar
