extends ../pug/layout.pug

append config
  -
    currentTitle = 'Главная'
    currentDescription = 'Pink app'
    currentUrl = 'index.html'

block header

block content

  section.person#home
    h1.person__heading Web Developer

    +picture({
      'img': 'person',
      'alt': 'John Smith',
      'lg': false,
      'md': false,
      'ext': 'jpg'
    }, 'person__img')

    h2.person__name John Smith
    +btn('Projects').person__btn(href='#projects')
  ///.person

  nav.navbar
    a.navbar__link(href='#home') Home
    a.navbar__link(href='#about') About
    a.navbar__link(href='#portfolio') Portfolio
    a.navbar__link(href='#contact') Contact
  ///.navbar

  section.about#about
    h2.about__heading About Me

    .about__progress-wrapper

      .about__bar
        p.about__bar-text
          | HTML
          span  97
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | CSS
          span  89
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | JavaScript
          span  85
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | SASS
          span  87
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | ReactJS
          span  80
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | NodeJS
          span  70
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | MongoDB
          span  50
          |  %
        .about__bar-percent
    ///.about__progress-wrapper

    .about__services
      .about__service-item
        i.far.fa-lightbulb
        h3.about__service-heading Creative

      .about__service-item
        i.fas.fa-cut
        h3.about__service-heading Problem Solving

      .about__service-item
        i.fas.fa-tachometer-alt
        h3.about__service-heading Fast

      .about__service-item
        i.fas.fa-rocket
        h3.about__service-heading Dynamic
    ///.about__services
  ///.about

  section.portfolio#portfolio
    h2.section-heading My Projects

    .portfolio__wrapper
      .project
        .project__text
          h3.project__name architect website
          h4.project__tech HTML / CSS / JS
        +picture({
          'img': 'project-01',
          'alt': 'Architect website',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=3J-EFMzz94g')

      .project
        .project__text
          h3.project__name Budget App
          h4.project__tech ReactJS
        +picture({
          'img': 'project-02',
          'alt': 'Budget App',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=fDffQYs2WB0')

      .project
        .project__text
          h3.project__name Wine House
          h4.project__tech HTML / CSS / JS
        +picture({
          'img': 'project-03',
          'alt': 'Wine House',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=jtmuopTpzGE')

      .project
        .project__text
          h3.project__name Task Manager
          h4.project__tech ReactJS
        +picture({
          'img': 'project-04',
          'alt': 'Task Manager',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=fqup-BL3VjI')

      .project
        .project__text
          h3.project__name The Road
          h4.project__tech HTML / CSS / JS
        +picture({
          'img': 'project-05',
          'alt': 'The Road',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=qmyN7lYY_xo')

      .project
        .project__text
          h3.project__name food app
          h4.project__tech ReactJS
        +picture({
          'img': 'project-06',
          'alt': 'food app',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=d1vT4kkTCaw')

      .project
        .project__text
          h3.project__name Slideshow
          h4.project__tech HTML / CSS / JS
        +picture({
          'img': 'project-07',
          'alt': 'Slideshow',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=1qhSSp2q7n4')

      .project
        .project__text
          h3.project__name Hamburger menu
          h4.project__tech HTML / CSS / JS
        +picture({
          'img': 'project-08',
          'alt': 'Hamburger menu',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=9Q7wy8r3i8w')

      .project
        .project__text
          h3.project__name CSS Grid Menu
          h4.project__tech HTML / CSS / JS
        +picture({
          'img': 'project-09',
          'alt': 'CSS Grid Menu',
          'lg': false,
          'md': true,
          'ext': 'jpg'
        }, 'project__img')
        +btn('Go to Video')(class='project__link', target='_blank', href='https://www.youtube.com/watch?v=HScySfeSmWc')

    ///.portfolio__wrapper
  ///.portfolio

  section.contact#contact
    h2.section-heading Contact Me

    form.contact__form
      input(type='text', name='name', placeholder='Name')
      input(type='email', name='email', placeholder='Email')
      textarea(placeholder='Message')
      input(type='submit', value='Submit')
  ///.contact

block footer
  footer.page-footer
    .page-footer__social
      a(class='page-footer__social-link', href='#')
        i.fab.fa-github-square
      a(class='page-footer__social-link', href='#')
        i.fab.fa-youtube
      a(class='page-footer__social-link', href='#')
        i.fab.fa-facebook-square
      a(class='page-footer__social-link', href='#')
        i.fab.fa-instagram-square

    p.page-footer__copyright
      | Copyright &copy; CodeAndCreate. All Rights Reserved
  ///.page-footer
