extends ../pug/layout.pug

append config
  -
    currentTitle = 'Главная'
    currentDescription = 'Pink app'
    currentUrl = 'index.html'

block header

block content

  section.person
    h1.person__heading Web Developer

    +picture({
      'img': 'person',
      'alt': 'John Smith',
      'lg': false,
      'md': false,
      'ext': 'jpg'
    }, 'person__img')

    h2.person__name John Smith
    +btn('Projects').person__btn(href='#projects')
  ///.person
