extends ../pug/layout.pug

append config
  -
    currentTitle = 'Главная'
    currentDescription = 'Pink app'
    currentUrl = 'index.html'

block header

block content

  section.person#home
    h1.person__heading Web Developer

    +picture({
      'img': 'person',
      'alt': 'John Smith',
      'lg': false,
      'md': false,
      'ext': 'jpg'
    }, 'person__img')

    h2.person__name John Smith
    +btn('Projects').person__btn(href='#projects')
  ///.person

  nav.navbar
    a.navbar__link(href='#home') Home
    a.navbar__link(href='#about') About
    a.navbar__link(href='#portfolio') Portfolio
    a.navbar__link(href='#contact') Contact
  ///.navbar

  section.about#about
    h2.about__heading About Me

    .about__progress-wrapper

      .about__bar
        p.about__bar-text
          | HTML
          span  97
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | CSS
          span  89
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | JavaScript
          span  85
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | SASS
          span  87
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | ReactJS
          span  80
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | NodeJS
          span  70
          |  %
        .about__bar-percent

      .about__bar
        p.about__bar-text
          | MongoDB
          span  50
          |  %
        .about__bar-percent
    ///.about__progress-wrapper

    .about__services
      .about__service-item
        i.far.fa-lightbulb
        h3.about__service-heading Creative

      .about__service-item
        i.fas.fa-cut
        h3.about__service-heading Problem Solving

      .about__service-item
        i.fas.fa-tachometer-alt
        h3.about__service-heading Fast

      .about__service-item
        i.fas.fa-rocket
        h3.about__service-heading Dynamic
    ///.about__services
  ///.about
